.body {
  font-family: "Open Sans", sans-serif;
}

#centro {
  width: 400px;
  margin: 0px auto;
  padding: 8 px;
}

#button {
  background-color: #7463d3;
}

.Search-Container {
  width: 215.9px;
  height: 52.4px;
  border-radius: 40px;
  color: white;
  align: center;
  background-color: #7463d3;
}
